<% if signed_in? %>

  <% %w(friday saturday).each do |night_name| %>
    <% night_date = @weekend.send(night_name.to_sym) %>
    <% night = current_user.night_for(night_date) %>
    <div class="container">
      <div class="column <%= night_name %>">
        <h2><%= night_date.strftime("%A") %></h2>
        <h3><%= night_date.strftime("%-d %B") %></h3>
        <div class="wrapper">
          <% if night.present? %>

            <%= form_for night, method: :delete do |f| %>
              <%= f.submit "This isn't my night...", class: 'button' %>
            <% end %>

          <% else %>

            <%= form_for Night.new do |f| %>
              <%= f.hidden_field :night, value: night_date %>
              <%= f.submit 'This is my night!', class: 'button' %>
            <% end %>

          <% end %>
        </div>
        <div class="wrapper">
          <% @nights.fetch(night_name.to_sym).each do |chosen_night| %>
          <div class="friend">
            <%= image_tag "http://graph.facebook.com/#{chosen_night.user.uid}/picture?type=square", class: 'profile-pic' %>
              <div class="friend-name">
                <p><%= chosen_night.user.name %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

<% else %>

  <div class="wrapper intro">
    <h2>Go big or stay home.</h2>
    <h3>Never miss a big night out again</h3>
    <%= render 'users/menu' %>
    <div id="flutes"></div>
    <div class="row">
      <div class="column">
        <div class="step">1</div>
        <p>Indicate the night you plan to party by choosing Friday or Saturday – or both.</p>
      </div>
      <div class="column">
        <div class="step">2</div>
        <p>Find out when your friends are going out so you can coordinate plans.</p>
      </div>
    </div>
  </div>

<% end %>
